# Innomatics internship- assignment 2

Problem 1: Unique Words in a Sentence

In [2]:
sentence = input("Enter a sentence: ")
sentence = sentence.lower()
words = sentence.split()
unique_words = set(words)
print("Unique words count: ", len(unique_words))
print("Unique words: ", unique_words)

Enter a sentence: python is easy and python is powerful
Unique words count:  5
Unique words:  {'and', 'powerful', 'is', 'easy', 'python'}

Problem 2: Highest Salary from Employee Data

In [3]:
#dictionary
employees = {
      "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_paid_emp = max(employees, key = employees.get)
highest_salary = employees[highest_paid_emp]
print("Highest Salary: ", highest_paid_emp, "-", highest_salary)

Highest Salary:  Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]
max_val = numbers[0]
min_val = numbers[0]
for num in numbers:
  if num > max_val:
    max_val = num
  if num < min_val:
    min_val = num
print("List: ", numbers)
print("Max: ", max_val)
print("Min: ", min_val)

List:  [45, 22, 89, 10, 66]
Max:  89
Min:  10

Problem 4: Count Products Above a Price Threshold

In [5]:
prizes = [450, 1200, 899, 1500, 300]
count = 0
for price in prizes:
  if price > 1000:
    count += 1
print("Products above 1000: ", count)

Products above 1000:  2

Problem 5: Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
attendance_percentage = (present_count / len(attendance))*100
print("Attendace Percentage: ", attendance_percentage)

Attendace Percentage:  80.0

Problem 6: Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers: ", unique_numbers)

Unique phone numbers:  {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [9]:
text = "python"
char_count = {}
for char in text:
  if char in char_count:
    char_count[char] +=1
  else:
    char_count[char] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [10]:
numbers = [10, 20, 30]
numbers_tuple = tuple(numbers) #tuple() function
print("Tuple: ", numbers_tuple)

Tuple:  (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [13]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key_to_check = "Ravi"
if key_to_check in employees: # in method
  print("Employee exists")
else:
  print("Employee does not exit")

Employee exists

Problem 10: Calculate Average Marks

In [14]:
marks = [70, 75, 80, 65]
total = sum(marks)
count = len(marks)
average = total/count
print("Average marks: ", average)

Average marks:  72.5